* {
  margin: 0;
  padding: 0;
}


html, body {
  height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  color: white;
  background: rgb(54,77,204);
  background: linear-gradient(176deg, rgba(54,77,204,1) 0%, rgba(19,35,124,1) 100%);
}

.avatar {
  width: 80px;
  border-radius: 50px;
  border: 3px solid white;
  box-shadow: 0 0 20px white;
}

h1 {
  font-family: 'Combo', cursive;
  font-size: 24px;
  margin-bottom: 2px;
}

h2 {
  font-size: 16px;

}

.profile {
  margin-top: 20px;
  text-align: center;
}

.social {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 20px 0;
}

.social img {
  width: 33px;
}

.links-list {
  list-style: none;  
}

.links-list li {
  margin: 10px 20px;
}

.links-list li a {
  background-color: white;
  padding: 15px 20px;
  display: block;
  border-radius: 4px;
  text-decoration: none;
  color:  rgb(54,77,204);
  font-weight: bold;
}

.links-list li a span {
  color: gray;
  display: block;
  margin-top: 10px;
}

.links-list2 {
  list-style: none;  
}

.links-list2 li {
  margin: 10px 20px;
}

.links-list2 li a {
  background-color: white;
  padding: 15px 20px;
  display: block;
  border-radius: 4px;
  text-decoration: none;
  color:  black;
  font-weight: bold;
  margin-top: 30px;
  
}

.links-list2 li a span {
  color: gray;
  display: block;
  margin-top: 10px;
}